# figma-managed npm registry config start
@make-kits:registry=https://registry.figma.com/npm/889b3305-e07b-4322-8b13-c4e7053710c0/registry/
@pcwprops:registry=https://registry.figma.com/npm/889b3305-e07b-4322-8b13-c4e7053710c0/registry/
# figma-managed npm registry config end
